body, 
html{
    width: 100%;
    background: url(rick-and-morty-3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
hr{
   border-color: #0c53bb;
   border-width: 5px;
   
}

.btn-primary{
    background-color: #0c53bb;
    color: black;
    border-radius: 35%;
    width: 100px;
    height: 50px;
}
.btn-primary:hover{
    background-color: #0c53bb;
    
    
}
.container2{
   
    display: grid;
    height: 100vh;
    place-content: center;
    
}